header{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    
   
  }

  
  .heather-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
    border-right: 3px solid var(--detalhes);
    border-image: url(imagens/gold.jpg) 25 25;
    

  }
  
  .weather-icon{
    width: 4.5vw;
   object-fit: contain;
  }
  
  .weather-icon.large{
    width: 10vw;
   object-fit: contain;

  }
  
  .heather-current-temp{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
 

   
  }
  
  .heather-rigth{
    display: grid;
    width: 50%;
    justify-content: space-around;
    gap: 0.5;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap: 1.5vw;


    
  }

  
  .info-group{

    display: flex;
    flex-direction: column;
    align-items: center;
    

    
  }
  
  .label{

    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;

  }
  
  .value-sub-info{
    font-weight: 100;
    font-size: 0.70rem;
    
   
  }